<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615952097816-kpu251n40c49olddiitddva7k00t9rqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615952097816-kpu251n40c49olddiitddva7k00t9rqu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>615952097816-7d703g4a576017vo8bg9urtb3njoai9p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9egn0OuEPUxRf5i6pxNrtMy6JrV2qmd8</string>
	<key>GCM_SENDER_ID</key>
	<string>615952097816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internManagementApp</string>
	<key>PROJECT_ID</key>
	<string>intern-management-app-4e6ec</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-management-app-4e6ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615952097816:ios:c32627b774e495d15d996d</string>
</dict>
</plist>